<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gridnev Egor</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="container">
            <nav class="menu">
                <ul class="menu-left">
                    <li><a href="#main">Главная</a></li>
                    <li><a href="#about-contact">Обо мне</a></li>
                    <li><a href="#about-contact">Контакты</a></li>
                    <li><a href="works.html">Мои проекты</a></li>
                </ul>
                <ul class="menu-right">
                    <li><a href="https://t.me/sanzuu0" target="_blank"><img src="images/telegram-logo.png" alt="Telegram"></a></li>
                    <li><a href="mailto:egor@gridneff.ru" target="_blank"><img src="images/mail.png" alt="Mail"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- About and Contact Section -->
    <section id="about-contact" class="section about-contact">
        <div class="container about-contact-container">
            <div class="text-block">
                <div class="about-text">
                    <h2>Обо мне</h2><br>
                    <p>Студент Московского политехнического университета. Обучаюсь на направлении "Системная и программная инженерия".</p><br>
                    <p>Основной вид деятельности: Java-разработчик. Занимаюсь разработкой высоконагруженных приложений на основе микросервисной архитектуры. 
                        Разрабатывал Telegram-ботов и Discord-ботов на языке Python. Также имеется навык работы с языком С++ в алгоритмических целях.</p><br> 
                    <p>Участник школьных олимпиад: Всероссийская олимпида школьников по математике и физикотехническая олимпиада по математике.</p><br>
                    <p>Окончил школу в 2023 году с золотой медалью.</p><br>
                    </div>
                <div class="contact-details">
                    <h2>Контакты</h2><br>
                    <p><strong>Telegram:</strong> @sanzuu0</p>
                    <p><strong>Email:</strong> egor@gridneff.ru</p>
                    <p><strong>Телефон: </strong> +7 (925) 073-10-28</p>
                </div>
            </div>
            <div class="about-image">
                <img src="images/unnamed.jpg" alt="Ваше фото">
            </div>
        </div>
    </section>



    <!-- Projects Section -->
    <section id="projects" class="section projects">
        <div class="container">
            <button href="works.html" class="view-all-projects">Посмотреть все проекты</button>
        </div>
    </section>


    <!-- Footer Section -->
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-links">
                <p><a href="https://github.com/sanzuu0" target="_blank">GitHub</a></p>
                <p><a href="https://linkedin.com" target="_blank">LinkedIn</a></p>
            </div>
        </div>
        <div class="footer-text">
            <p>&copy; 2024</p>
        </div>
    </footer>


</body>
</html>
